#One{
  position: absolute;
  top: 20px;
  left: 60px;
  right: 30px;
  width: 35px;
  height: 35px;
}
#Two{
    position: absolute;
    top: 25px;
    left: 100px;
    width: 80px;
    height: 20px;
  }
#Three{
  position: absolute;
  top: 40px;
  left: 100px;
  width: 80px;
  height: 20px;
}
#Four{
  position: absolute;
  top: 25px;
  left: 190px;
  width: 520px;
  height: 25px;
}





.index {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  z-index: 2;
  position: center;
  background: green;
}

.Main-bla{
  margin:20px;
  padding: 30px;
  border: 2px solid blue;
  position: absolute;
  top: 300px;
  left: 600px;
}


.body .page-container .main-container header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #aaaaaa;
  font-size: 0.9em;
}

#Main-page {
  position: absolute;
  top: 0;
  right: -1.875em;
  z-index: 1;
  text-decoration: underline none;
}

.first-para {
  z-index: 2;
  position: float;
  background: yellow;
}

h2 {
  color: black;
  background: white;
  text-decoration: underline black;
  content: normal;

}

General {
  background: red;
}