#index {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.first-para {
  z-index: 2;
  position: float;
  background: yellow;
  }
    h2 {
    color: black ;
    background: white;
    text-decoration: underline black;
    content: normal;

  }

  General {
    background: red;

  }
